html, body {
  margin: 0;
  padding: 0;
}
body {
  background-image: url('/img/pattern.png');
}
.calendar {
  font-family: 'Marmelad', serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 20px rgba(0,0,0,.5), 20px 20px 50px 20px rgba(0,0,0,.3);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.top img {
  width: 300px;
  box-shadow: 0 1px 1px 1px rgba(0,0,0,0.4);
}
.date {
  border: 1px solid rgba(0,0,0,.3);
  z-index: -1;
  margin-top: -10px;
  text-align: center;
  background-color: #f0e1b7;
  background-image: url('/img/pattern-2.png');
}

.date .weekday {
  padding-top: 30px;
  font-size: 30px;
}
.date .day {
  font-size: 110px;
}
.date .month {
  margin-top: -10px;
  font-size: 40px;
}

.date .message {
  font-size: 18px;
  padding-top: 60px;
  padding-bottom: 20px;
  text-align: left;
  padding-left: 20px;
}
.date .message .answer {
  font-family: 'Caveat', cursive;
  font-size: 26px;
  display: inline-block;
  color: #F03939;
}
